<section class="section">
  <h2 class="section__heading">Выбор класса</h2>
  <p class="section__description">Следующим этапом нужно выбрать класс</p>
  <p class="section__description">Сейчас доступны немногие классы и подклассы.</p>
  <p class="section__description">Находить новые надо будет за пределами костра, открывая их для всех игроков.</p>
  <p class="section__description">
    На данный момент доступны при создании персонажа Воин, Волшебник, Плут, Жрец, Следопыт и Варвар.
  </p>
  <cdk-accordion class="accordion">
    <cdk-accordion-item
      *ngFor="let classItem of classesArr; let index = index"
      #accordionItem="cdkAccordionItem"
      class="accordion-item"
      role="button"
      tabindex="0"
      [attr.id]="'accordion-header-' + index"
      [attr.aria-expanded]="accordionItem.expanded"
      [attr.aria-controls]="'accordion-body-' + index"
    >
      <div class="accordion-item__heading">
        <span
          class="accordion-item__span"
          [ngClass]="{ 'accordion-item__span_active': accordionItem.expanded }"
          (click)="accordionItem.toggle()"
        ></span>
        <h3 class="accordion-item__title">{{ classItem.name }}</h3>
        <button class="accordion-item__submit-button" (click)="handleSelectClass(classItem.name)">Выбрать</button>
      </div>
      <div
        class="accordion-item__body"
        role="region"
        [style.display]="accordionItem.expanded ? '' : 'none'"
        [attr.id]="'accordion-body-' + index"
        [attr.aria-labelledby]="'accordion-header-' + index"
      >
        <p class="accordion-item__text">Описание</p>
        <p class="accordion-item__text">{{ classItem.description }}</p>
        <p class="accordion-item__text">Совет</p>
        <p class="accordion-item__text">{{ classItem.advice }}</p>
        <p class="accordion-item__text">Кость хитов</p>
        <p class="accordion-item__text">{{ classItem.hitDice }}</p>
        <p class="accordion-item__text">Хиты на уровень</p>
        <p class="accordion-item__text">{{ classItem.hitPerLvl }}</p>
        <p class="accordion-item__text">Доспехи</p>
        <p class="accordion-item__text">{{ classItem.armors }}</p>
        <p class="accordion-item__text">Оружие</p>
        <p class="accordion-item__text">{{ classItem.weapons }}</p>
        <p class="accordion-item__text">Навыки</p>
        <p class="accordion-item__text">{{ classItem.skills }}</p>
        <p class="accordion-item__text">{{ classItem.evolutionName }}</p>
        <div class="class-item__items">
          <p class="class-item__heading">Уровень</p>
          <p class="class-item__heading">
            БМ
            <span> Бонус мастерства - количество очков добавляемых при броске на атаку </span>
          </p>
          <p class="class-item__heading">
            {{ classItem.feature }}
            <span> {{ classItem.featureDesc }} </span>
          </p>
          <p class="class-item__heading">Умения</p>
          <ng-container *ngFor="let item of classItem.evolution">
            <p class="class-item__subheading">{{ item.level }}</p>
            <p class="class-item__subheading">{{ item.profBonus }}</p>
            <p class="class-item__subheading">{{ item.featureBonus }}</p>
            <p class="class-item__subheading">{{ item.abilities }}</p>
          </ng-container>
        </div>
        <p class="accordion-item__text">Умения</p>
        <div class="accordion-item__items">
          <ng-container *ngFor="let item of classItem.abilities">
            <div>
              <p class="accordion-item__text">{{ item.name }}</p>
              <p class="accordion-item__text">{{ item.availableFrom }}</p>
            </div>
            <p class="accordion-item__text">{{ item.description }}</p>
          </ng-container>
        </div>
        <p class="accordion-item__text">{{ classItem.peculiaritiesName }}</p>
        <div>
          <ng-container *ngFor="let item of classItem.peculiarities">
            <p class="accordion-item__text">{{ item.name }}</p>
            <div class="accordion-item__items">
              <p class="accordion-item__text">Описание</p>
              <p class="accordion-item__text">{{ item.description }}</p>
              <ng-container *ngFor="let ability of item.abilities">
                <div>
                  <p class="accordion-item__text">{{ ability.name }}</p>
                  <p class="accordion-item__text">{{ ability.availableFrom }}</p>
                </div>
                <p class="accordion-item__text">{{ ability.description }}</p>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </div>
    </cdk-accordion-item>
  </cdk-accordion>
</section>
