<div class="footer">
  <div class="footer__containers">
    <div class="footer__container">
      <h2 class="footer__heading">Контакты</h2>
      <a href="mailto:d.shishkov.russia@gmail.com" class="footer__link"> d.shishkov.russia@gmail.com </a>
    </div>
    <div class="footer__container">
      <h2 class="footer__heading">Соцсети</h2>
      <ul class="footer__socials">
        <li class="footer__contact">
          <a class="footer__link" target="_blank" href="https://telegram.me/dimdimshishkov" rel="noreferrer">
            <i class="social__icon icon_tg"></i>
          </a>
        </li>
        <li class="footer__contact">
          <a class="footer__link" target="_blank" href="https://www.linkedin.com/in/dimdimshishkov" rel="noreferrer">
            <i class="social__icon icon_ln"></i>
          </a>
        </li>
        <li class="footer__contact">
          <a class="footer__link" target="_blank" href="https://github.com/DimDimShishkov" rel="noreferrer">
            <i class="social__icon icon_gh"></i>
          </a>
        </li>
        <li class="footer__contact">
          <a class="footer__link" target="_blank" href="https://career.habr.com/dimshishkov" rel="noreferrer">
            <i class="social__icon icon_habr"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
