<section class="section">
  <h2 class="section__heading">Выбор расы</h2>
  <p class="section__description">Для начала выберите любую из имеющихся рас.</p>
  <p class="section__description">
    Не переживайте выбрать «не то», все расы имеют свои преимущества при использовании с разными классами.
  </p>
  <p class="section__description section__description_additional">
    Все описанные расы <span>среднего размера</span>, имеют скорость <span>30 футов</span> и знают только один
    <span>язык: Общий</span>.
  </p>
  <p class="section__description">
    Дополнительно вы получаете либо +2 к одному параметру и +1 к другому, либо +1 к трём параметрам
  </p>

  <cdk-accordion class="accordion">
    <cdk-accordion-item
      *ngFor="let race of raceArr; let index = index"
      #accordionItem="cdkAccordionItem"
      class="accordion-item"
      role="button"
      tabindex="0"
      [attr.id]="'accordion-header-' + index"
      [attr.aria-expanded]="accordionItem.expanded"
      [attr.aria-controls]="'accordion-body-' + index"
    >
      <div class="accordion-item__heading">
        <span
          class="accordion-item__span"
          [ngClass]="{ 'accordion-item__span_active': accordionItem.expanded }"
          (click)="accordionItem.toggle()"
        ></span>
        <h3 class="accordion-item__title">{{ race.name }}</h3>
        <button class="accordion-item__submit-button" (click)="handleSelectRace(race.name)">Выбрать</button>
      </div>
      <div
        class="accordion-item__body"
        role="region"
        [style.display]="accordionItem.expanded ? '' : 'none'"
        [attr.id]="'accordion-body-' + index"
        [attr.aria-labelledby]="'accordion-header-' + index"
      >
        <p class="accordion-item__text">Описание</p>
        <p class="accordion-item__text">{{ race.description }}</p>
        <p class="accordion-item__text">Язык</p>
        <p class="accordion-item__text">{{ race.namesExample }}</p>
        <p class="accordion-item__text">Совет</p>
        <p class="accordion-item__text">{{ race.advice }}</p>
        <p class="accordion-item__text">Способности</p>
        <div>
          <div class="accordion-item__items" *ngFor="let ability of race.abilities; let i = index">
            <p class="accordion-item__text">{{ ability.name }}</p>
            <p class="accordion-item__text">{{ ability.description }}</p>
          </div>
        </div>
      </div>
    </cdk-accordion-item>
  </cdk-accordion>
</section>
